<!DOCTYPE html>
<html>
<head>
    <title>Fisch Update Checker</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Fisch Update Checker</h1>
        <div class="update-info">
            {{ update_info|safe }}
        </div>
        <div class="button-container">
            <a href="javascript:void(0)" onclick="refreshUpdates()" class="refresh-button">Check for Updates</a>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>